* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#img-caption {
  text-align: center;
  margin-top: 1em;
}

h1 {
  margin-bottom: 0;
}

h1, h2 {
  text-align: center;
}

h2 {
  font-size: 1rem;
}

#img-div {
  margin-top: 2em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

hr {
  margin-top: 1em;
}

#tribute-info {
    margin-top: 2em;
}

a {
  display: block;
  margin-top: 0.5em;
  text-decoration: none;
}